source https://www.nuget.org/api/v2
source https://api.nuget.org/v3/index.json
storage: none
nuget FSharp.Core
nuget Microsoft.SourceLink.GitHub 1.0.0 copy_local: true
nuget Microsoft.NET.Test.Sdk
nuget altcover ~> 7
nuget NUnit
nuget NUnit3TestAdapter
nuget SQLProvider
nuget Unquote
// [ FAKE GROUP ]
group Build
    storage: none
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget FAKE.Core.Environment
    nuget Fake.DotNet.Cli
    nuget FAKE.Core.Process
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Tools.Git
    nuget Fake.DotNet.Paket
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.GitHubActions
    nuget Fantomas
    nuget Fantomas.Extras
    nuget Argu

group Docs
    storage: none
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget Argu
    nuget FSharp.Core
    nuget Fake.IO.FileSystem
    nuget FAKE.Core.Environment
    nuget Fake.DotNet.Cli
    nuget FSharp.Formatting
    nuget FSharp.Literate
    nuget Fable.React

group Analyzers
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget BinaryDefense.FSharp.Analyzers.Hashing
